services:
  trino:
    ports:
      - "${SQLMESH_TRINO_PORT:-8080}:8080"
    image: "trinodb/trino:474"
    volumes:
      - ./docker/trino/etc:/etc/trino/

  nessie:
    hostname: nessie
    image: "ghcr.io/projectnessie/nessie:0.102.0"
    environment:
      nessie.version.store.type: IN_MEMORY
      nessie.catalog.default-warehouse: warehouse
      nessie.catalog.warehouses.warehouse.location: s3://iceberg/warehouse/
      nessie.catalog.service.s3.default-options.region: us-east-1
      nessie.catalog.service.s3.default-options.path-style-access: true
      nessie.catalog.service.s3.default-options.access-key: urn:nessie-secret:quarkus:nessie.catalog.secrets.access-key
      nessie.catalog.secrets.access-key.name: minioadmin
      nessie.catalog.secrets.access-key.secret: minioadmin
      # MinIO endpoint for Nessie server
      nessie.catalog.service.s3.default-options.endpoint: http://minio:9000/
      # MinIO endpoint for clients (on the Podman/Docker host)
      nessie.catalog.service.s3.default-options.external-endpoint: http://127.0.0.1:9000/

  postgres:
    hostname: postgres
    image: postgres:15
    ports: 
      - "${SQLMESH_POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 5s
      timeout: 5s
      retries: 5

  minio:
    hostname: minio
    image: 'minio/minio:RELEASE.2025-04-22T22-12-26Z'
    container_name: minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_ADDRESS: :9000
      MINIO_REGION: us-east-1
    command: server /data --console-address ":9090"

  # This job will create the "iceberg" bucket on Minio
  mc-job:
    image: 'minio/mc'
    entrypoint: |
      /bin/bash -c "
      sleep 5;
      /usr/bin/mc config --quiet host add myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb --quiet myminio/iceberg
      "
    depends_on:
      - minio
