# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules/
.pnp/
.pnp.*
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# testing
coverage/
.eslintcache

# builds
**/out/
**/build/
**/dist/
**/data/
**/.turbo/
**/.next/
**/.docusaurus/

# files
.DS_Store
*.pem
*.env
.env*.local
*.log
coverage.json

**/.env
**/.next
**/.meltano

**/.venv

# typescript
*.tsbuildinfo
next-env.d.ts
.idea/
.vscode/
graph/.test.subgraph.yaml

# playwright
playwright-report/
node_modules
target
.pnpm-store
test_only.*
**/test_only.*
**/test_only
Dockerfile
*.Dockerfile
**/Dockerfile
**/*.Dockerfile

# Python specific
.venv
*.pyc
**/__pycache__

# Cloudquery
.cq/
**/.cq

# Github directory
.github/scripts
.git
logs
.mypy_cache
