# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules/
.pnp/
.pnp.*
npm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# testing
coverage/
.eslintcache

# builds
out/
build/
dist/
data/
.turbo/
.next/
.docusaurus/

# files
.DS_Store
*.pem
*.env
*.env.*
!.env.example
.env*.local
.env*.cloud
*.log
logs/
dev-tests/
coverage.json
dev-tests/

# typescript
*.tsbuildinfo
next-env.d.ts
.idea/
.vscode/
graph/.test.subgraph.yaml

# playwright
playwright-report/
node_modules
.pnpm-store

# cloudquery
.cq/


# Python
*.pyc
__pycache__/
*.egg-info/

supabase/.temp/
**/supabase/.temp/
*/**/supabase/.temp/

# local dagster home
.dagster_local_home/

# sqlmesh
.cache/

# cube.dev
core.1
.cubecloud

# opa
opa/**/bundle.tar.gz
*.save
