
####################
### ARIZE PHOENIX
####################
AGENT_ARIZE_PHOENIX_USE_CLOUD=False
AGENT_ARIZE_PHOENIX_API_KEY=

####################
### LLM
####################
#AGENT_LLM__TYPE=local
#AGENT_OLLAMA_MODEL=llama3.2:3b
AGENT_LLM__TYPE="google_genai"
AGENT_LLM__MODEL="gemini-2.0-flash"
AGENT_LLM__GOOGLE_API_KEY=

#AGENT_VECTOR_STORE__TYPE=local
AGENT_VECTOR_STORE__DIR=/tmp/mcp/vector/
AGENT_VECTOR_STORE__GCS_BUCKET=
AGENT_VECTOR_STORE__PROJECT_ID=
AGENT_VECTOR_STOREINDEX_ID=
AGENT_VECTOR_STORE__ENDPOINT_ID=
AGENT_ARIZE_PHOENIX_USE_CLOUD=0

####################
### DISCORD BOT
####################
AGENT_DISCORD_BOT_TOKEN=
AGENT_DISCORD_CHANNEL_ID=
