# .env

# GitHub App ID, which you can find here
# https://github.com/organizations/opensource-observer/settings/apps/oso-prs
PR_TOOLS_GITHUB_APP_ID=
# Base64 encoded private key for the GitHub App
PR_TOOLS_GITHUB_APP_PRIVATE_KEY=