apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: production-nessie
spec:
  values:
    serviceAccount:
      create: true
      name: production-nessie
    resources:
      limits:
        memory: 2048Mi
      requests:
        cpu: 1
        memory: 1024Mi
    catalog:
      enabled: true
      iceberg:
        defaultWarehouse: warehouse
        warehouses:
          - name: warehouse
            location: gs://oso-iceberg-usc1/warehouse/
      storage:
        gcs:
          defaultOptions:
            projectId: opensource-observer
            authType: APPLICATION_DEFAULT
    jdbc:
      jdbcUrl: jdbc:postgresql://production-nessie-cloudsql-proxy-gcloud-sqlproxy.production-nessie-cloudsql-proxy.svc.cluster.local:5432/postgres
      secret:
        name: nessie-postgres
        password: password
        username: username
    versionStoreType: JDBC2
