# Generic worker executor. This is callable for use with cron scheduling.

# Execute the worker for a specific group
name: setup-external-pr-tools

runs:
  using: "composite"
  steps:
    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 9
        run_install: |
          - recursive: true
            args: [--frozen-lockfile, --strict-peer-dependencies]

    - name: Set up Node.js 20
      uses: actions/setup-node@v4
      with:
        cache: "pnpm"
        node-version: "22.x"

    - name: Build the ops tooling
      shell: bash
      run: pnpm build:ops