apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: production-agent
spec:
  values:
    app:
      envVars:
        "AGENT_LLM__GOOGLE_API_KEY": gcp:secretmanager:production-agent-google-api-secret/versions/latest
        "AGENT_LLM__TYPE": "google_gemini"
        "AGENT_OSO_MCP_URL": "http://production-mcp-app.production-mcp.svc.cluster.local:8000/sse"
        "AGENT_ARIZE_PHOENIX_API_KEY": gcp:secretmanager:production-agent-arize-phoenix-api-key/versions/latest
        "AGENT_ARIZE_PHOENIX_USE_CLOUD": "1"
