apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: production-scheduler
spec:
  postRenderers:
    - kustomize:
        images:
          - name: ghcr.io/opensource-observer/oso
            newName: ghcr.io/opensource-observer/oso # {"$imagepolicy": "flux-system:oso:name"}
            newTag: deploy-20260218180623-58ddf78 # {"$imagepolicy": "flux-system:oso:tag"}
  values:
    app:
      resources:
        requests:
          cpu: "500m"
          memory: "768Mi"
      queues:
        - name: "data_model_run_requests"
          envVars:
            SCHEDULER_MESSAGE_HANDLING_TIMEOUT_SECONDS: "3600"
        - name: "data_ingestion_run_requests"
          envVars:
            SCHEDULER_MESSAGE_HANDLING_TIMEOUT_SECONDS: "7200"
        - name: "query_run_requests"
          envVars:
            SCHEDULER_MESSAGE_HANDLING_TIMEOUT_SECONDS: "300"
        - name: "static_model_run_requests"
          envVars:
            SCHEDULER_MESSAGE_HANDLING_TIMEOUT_SECONDS: "1800"
        - name: "publish_notebook_run_requests"
          envVars:
            SCHEDULER_MESSAGE_HANDLING_TIMEOUT_SECONDS: "1800"
        - name: "sync_connection_run_requests"
          envVars:
            SCHEDULER_MESSAGE_HANDLING_TIMEOUT_SECONDS: "7200"
      name: "oso-scheduler"
      # This only needs to appear in one of the scheduler instances for now. We
      # should likely combine these into a single scheduler chart at some point.
      roles:
        clusterRoles:
          - apiGroups: ["apps"] # API group for deployments
            resources: ["deployments"] # Specific subresource for scaling
            verbs: ["get", "update", "list", "patch", "watch"]
          # Read only access to services
          - apiGroups: [""]
            resources: ["services"]
            verbs: ["get", "list", "watch"]
        enableClusterRoleBinding: true
