<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Repo Mapper</title>
</head>
<body>
    <h2>Summary Stats:</h2>
    <p>Number of projects with an actual repo: {{ projects_with_actual_repo }}</p>
    <p>Number of projects without an actual repo: {{ projects_without_actual_repo }}</p>
    <form method="GET">
        <label for="project">Project:</label>
        <select id="project" name="project" onchange="this.form.submit()">
            <option selected disabled>Select a project</option>
            {% for project in projects %}
                <option value="{{ project }}" {% if selected_project == project %}selected{% endif %}>{{ project }}</option>
            {% endfor %}
        </select>
    </form>
    {% if repos %}
    <form method="POST">
        <input type="hidden" id="project" name="project" value="{{ selected_project }}">
        <label for="repo">Repo:</label>
        <select id="repo" name="repo" onchange="showInputField(this)">
            {% for repo in repos %}
                <option value="{{ repo }}" {% if selected_repo == repo %}selected{% endif %}>{{ repo }}</option>
            {% endfor %}
            <option value="unknown">unknown</option>
        </select>
        <div id="customRepoDiv" style="display: none;">
            <label for="custom_repo">Custom Repo:</label>
            <input type="text" id="custom_repo" name="custom_repo">
        </div>
        <input type="submit" value="Update Mapping">
    </form>
    <h2><a id="repoLink" href="{{ github_link }}" target="_blank" style="display: none;">View Repo</a></h2>
    {% endif %}
    <script>
        window.onload = function() {
            var select = document.getElementById("repo");
            var repoLink = document.getElementById("repoLink");
            if (select.value && select.value != "unknown") {
                repoLink.href = "https://github.com/" + select.value;
                repoLink.style.display = "block";
            } else {
                repoLink.style.display = "none";
            }
        };

        function showInputField(select) {
            var div = document.getElementById("customRepoDiv");
            var repoLink = document.getElementById("repoLink");
            if (select.value == "unknown") {
                div.style.display = "block";
                repoLink.style.display = "none";
                window.open("https://www.google.com/search?q=" + encodeURIComponent("{{ selected_project }} github"), '_blank');
            } else {
                div.style.display = "none";
                repoLink.href = "https://github.com/" + select.value;
                repoLink.style.display = "block";
            }
        }
    </script>
</body>
</html>
