apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: production-trino
spec:
  values:
    service:
      annotations:
        tailscale.com/expose: "true"
    env:
      - name: TRINO_GCS_KEY_ID
        value: gcp:secretmanager:production-mcs-gcs-key-id/versions/latest
      - name: TRINO_GCS_SECRET
        value: gcp:secretmanager:production-mcs-gcs-secret/versions/latest
      - name: CLICKHOUSE_URL
        value: gcp:secretmanager:production-trino-clickhouse-url/versions/latest
      - name: CLICKHOUSE_USER
        value: gcp:secretmanager:production-trino-clickhouse-user/versions/latest
      - name: CLICKHOUSE_PASSWORD
        value: gcp:secretmanager:production-trino-clickhouse-password/versions/latest
    serviceAccount:
      name: production-trino
    coordinator:
      resources:
        requests:
          cpu: 7300m
          memory: 46000Mi
      tolerations:
        - key: pool_type
          operator: Equal
          value: trino-coordinator
          effect: NoSchedule
      nodeSelector:
        pool_type: trino-coordinator
      jvm:
        maxHeapSize: "17G"
      additionalJVMConfig:
        - "--add-opens=java.base/java.nio=ALL-UNNAMED"

    worker:
      resources:
        requests:
          cpu: 63000m
          memory: 390000Mi
      tolerations:
        - key: pool_type
          operator: Equal
          value: trino-worker
          effect: NoSchedule
      nodeSelector:
        pool_type: trino-worker
      config:
        query:
          maxMemoryPerNode: 140GB
      jvm:
        maxHeapSize: "350G"
      additionalJVMConfig:
        - "--add-opens=java.base/java.nio=ALL-UNNAMED"

    additionalConfigProperties:
      - retry-policy=TASK
      - "exchange.http-client.max-content-length=64MB"
    additionalExchangeManagerProperties:
      - "exchange.sink-buffers-per-partition=2"
      - "exchange.sink-buffer-pool-min-size=10"
      - "exchange.source-concurrent-readers=2"
      - "exchange.max-page-storage-size=64MB"
      - "exchange.s3.region=us-central1"
      - "exchange.s3.aws-access-key=${ENV:TRINO_GCS_KEY_ID}"
      - "exchange.s3.aws-secret-key=${ENV:TRINO_GCS_SECRET}"
      - "exchange.s3.endpoint=https://storage.googleapis.com"
      
    server:
      exchangeManager:
        name: filesystem
        baseDir: gs://oso-iceberg-exchange-usc1
      config:
        query:
          maxMemory: "1400GB"
      workers: 1
      autoscaling:
        enabled: true
        maxReplicas: 10
        targetCPUUtilizationPercentage: 50
        targetMemoryUtilizationPercentage: 30
        behavior:
          scaleDown:
            stabilizationWindowSeconds: 600
            policies:
            - type: Pods
              value: 1
              periodSeconds: 120
          scaleUp:
            stabilizationWindowSeconds: 60
            policies:
            - type: Percent
              value: 100
              periodSeconds: 60
            - type: Pods
              value: 2 
              periodSeconds: 60
            selectPolicy: Max
    catalogs:
      iceberg: |
        connector.name=iceberg
        iceberg.catalog.type=rest
        iceberg.rest-catalog.uri=http://production-nessie.production-nessie.svc.cluster.local:19120/iceberg
        iceberg.rest-catalog.prefix=main
        iceberg.rest-catalog.warehouse=gs://oso-iceberg-usc1/warehouse/
        iceberg.use-file-size-from-metadata=false
        iceberg.max-partitions-per-writer=1000
        fs.native-gcs.enabled=true
        gcs.project-id=opensource-observer
      source: |
        connector.name=hive
        hive.metastore.uri=thrift://10.145.192.30:9083
        fs.native-gcs.enabled=true
        gcs.project-id=opensource-observer
        hive.non-managed-table-writes-enabled=true
      bigquery: |
        connector.name=bigquery
        bigquery.project-id=opensource-observer
      github_archive: |
        connector.name=bigquery
        bigquery.parent-project-id=opensource-observer
        bigquery.project-id=githubarchive
      clickhouse: |
        connector.name=clickhouse
        connection-url=${ENV:CLICKHOUSE_URL}
        connection-user=${ENV:CLICKHOUSE_USER}
        connection-password=${ENV:CLICKHOUSE_PASSWORD}
        clickhouse.map-string-as-varchar=true