# Default values for oso-dagster.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

dagster:
  global:
    serviceAccountName: "staging-dagster"
  postgresql:
    enabled: false
    postgresqlPassword: "gcp:secretmanager:dagster-db-password/versions/1"
  dagsterWebserver:
    enableReadOnly: true

osoDagster:
  verboseLogs: 0
  env: "dev"
  eagerlyLoadSqlTables: 0
  assetCache:
    enabled: true
    dir: /dagster_assets_cache
  enableJsonLogs: true
  testAssets:
    enabled: false

global:
  dagsterInternalName: "dagster"

configMap:
  name: "dagster-extra-env-config-map"
  secretPrefix: "gcp:secretmanager:dagster"
secretmanagerKeys: 
  dbUser: "db-user/versions/latest"
  dbHost: "db-host/versions/latest"
  dbPort: "db-port/versions/latest"
  dbName: "db-name/versions/latest"
  impersonateServiceAccount: "dbt-impersonate-service-account/versions/latest"
  sqlmeshPostgresInstanceStringConnectionString: "sqlmesh-postgres-instance-connection-string/versions/latest"
  sqlmeshPostgresUser: "sqlmesh-postgres-user/versions/latest"
  sqlmeshPostgresPassword: "sqlmesh-postgres-password/versions/latest"
  sqlmeshPostgresDb: "sqlmesh-postgres-db/versions/latest"
  sqlmeshClickhouseHost: "sqlmesh-clickhouse-host/versions/latest"
  sqlmeshClickhouseUsername: "sqlmesh-clickhouse-username/versions/latest"
  sqlmeshClickhousePassword: "sqlmesh-clickhouse-password/versions/latest"
  sqlmeshClickhousePort: "sqlmesh-clickhouse-port/versions/latest"
  stagingBucketUrl: "staging-bucket-url/versions/latest"
  discordWebhookUrl: "discord-webhook-url/versions/latest"
pg:
  port: "5432"
  host: "127.0.0.1"
alerts:
  baseUrl: ""
cache:
  uri: ""
sqlmesh:
  gateway: ""
  trino:
    host: "trino"
    port: "8080"
    user: "sqlmesh"
    retries: "5"
    catalog: "metrics"
    concurrentTasks: "64"
    k8s:
      coordinatorDeploymentName: "trino-coordinator"
      workerDeploymentName: "trino-worker"
      serviceName: "trino"
      namespace: "default"
  mcs:
    enabled: false
    skipRolling: false
    url: ""
    jobRetries: "3"
    batchSize: "2"
    cluster:
      minSize: "0"
      maxSize: "60"
    defaultSlots: "4"
    k8s:
      deploymentName: "mcs"
      serviceName: "mcs"
      namespace: "default"
