.root {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  align-content: flex-start;
  justify-items: center;
  background: none;
  justify-self: flex-start;
  margin-top: 0px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.roottheme_dark > * {
  grid-column: 4;
}
.freeBox__tWab3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: var(--token-8kk5Z0tGoVl6);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__tWab3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__tWab3 > :global(.__wab_flex-container) > *,
.freeBox__tWab3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tWab3 > :global(.__wab_flex-container) > picture > img,
.freeBox__tWab3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___4SAnY {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___4SAnY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___4SAnY > :global(.__wab_flex-container) > *,
.freeBox___4SAnY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4SAnY > :global(.__wab_flex-container) > picture > img,
.freeBox___4SAnY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 32px;
}
.freeBox___5BnBk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.card__tzPvE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__sAj3L {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.freeBox__sAj3L > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox__sAj3L > :global(.__wab_flex-container) > *,
.freeBox__sAj3L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sAj3L > :global(.__wab_flex-container) > picture > img,
.freeBox__sAj3L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__kQFn8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svgtheme_dark__kQFn8SwWww {
  color: var(--token-WcqAzrLgrO6X);
}
.text__qNqPr {
  width: auto;
  height: auto;
  max-width: 100%;
}
.texttheme_dark__qNqPrswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.codetheme_dark {
  background: var(--token-7AdcKFArKr7V);
}
.freeBox__pNmic {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pNmic > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pNmic > :global(.__wab_flex-container) > *,
.freeBox__pNmic > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pNmic > :global(.__wab_flex-container) > picture > img,
.freeBox__pNmic
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1__ey3Ew {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--antd-fontSizeHeading4);
  min-width: 0;
}
.h1theme_dark__ey3EwswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.columns__ezEbp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__ezEbp > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  --plsmc-rc-col-gap: 16px;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.columns__ezEbp > :global(.__wab_flex-container) > *,
.columns__ezEbp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ezEbp > :global(.__wab_flex-container) > picture > img,
.columns__ezEbp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
.columns__ezEbp > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__ezEbp > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__ezEbp > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ezEbp {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ezEbp > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ezEbp > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__aSOwh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.linkCard__kJrR:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img___2TJvr {
  object-fit: cover;
  max-width: 50px;
  height: 50px;
}
.img___2TJvr > picture > img {
  object-fit: cover;
}
.text__dW9Mz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
.texttheme_dark__dW9MzswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.text___07Bki {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-gN119pN46HXv);
  min-width: 0;
  display: none;
}
.column__isoTf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.linkCard__dz0VJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__pglqc {
  object-fit: cover;
  max-width: 50px;
  height: 50px;
}
.img__pglqc > picture > img {
  object-fit: cover;
}
.text__p4QzW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
.texttheme_dark__p4QzWswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.text___1TlBs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-gN119pN46HXv);
  min-width: 0;
  display: none;
}
.column___7E8NH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.linkCard__nIpZx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__w6WiN {
  object-fit: cover;
  max-width: 50px;
  height: 50px;
}
.img__w6WiN > picture > img {
  object-fit: cover;
}
.text___0VWiG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  padding-left: 0px;
  min-width: 0;
}
.texttheme_dark___0VWiGswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.text___8WkCz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-gN119pN46HXv);
  min-width: 0;
  display: none;
}
.freeBox___831Jf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___831Jf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___831Jf > :global(.__wab_flex-container) > *,
.freeBox___831Jf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___831Jf > :global(.__wab_flex-container) > picture > img,
.freeBox___831Jf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1__vUyYu {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--antd-fontSizeHeading4);
  min-width: 0;
}
.h1theme_dark__vUyYuswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.columns__geZKo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__geZKo > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  --plsmc-rc-col-gap: 16px;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__geZKo > :global(.__wab_flex-container) > *,
.columns__geZKo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__geZKo > :global(.__wab_flex-container) > picture > img,
.columns__geZKo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 32px;
}
.columns__geZKo > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__geZKo > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__geZKo > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__geZKo {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__geZKo > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__geZKo > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qSw0C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__wlFoS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__wlFoS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__wlFoS > :global(.__wab_flex-container) > *,
.freeBox__wlFoS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wlFoS > :global(.__wab_flex-container) > picture > img,
.freeBox__wlFoS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__fKgut {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  padding-left: 14px;
  min-width: 0;
}
.texttheme_dark__fKgutswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.linkCard__kSnxQ:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__zAjRu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texttheme_dark__zAjRUswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.linkCard__vc6Kd:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__beYh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  min-width: 0;
}
.texttheme_dark__beYhSwWww {
  color: var(--token-WcqAzrLgrO6X);
}
.linkCard__dOuOh:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__tl9Lj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texttheme_dark__tl9LJswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.column__luYg1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__tIrjm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__tIrjm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tIrjm > :global(.__wab_flex-container) > *,
.freeBox__tIrjm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tIrjm > :global(.__wab_flex-container) > picture > img,
.freeBox__tIrjm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__wWor {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  padding-left: 14px;
  min-width: 0;
}
.texttheme_dark__wWorswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.linkCard__cPcZn:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__sqxQf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texttheme_dark__sqxQfswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.linkCard___6OUB:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__gcly2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texttheme_dark__gcly2SwWww {
  color: var(--token-WcqAzrLgrO6X);
}
.linkCard___3ZeVt:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__pEtRo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texttheme_dark__pEtRoswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.column__cfwvN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__kpAV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__kpAV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kpAV > :global(.__wab_flex-container) > *,
.freeBox__kpAV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kpAV > :global(.__wab_flex-container) > picture > img,
.freeBox__kpAV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__iLoJo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  padding-left: 14px;
  min-width: 0;
}
.texttheme_dark__iLoJOswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.linkCard__m1Me0:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__bj3Bk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.texttheme_dark__bj3BkswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.linkCard__lEk64:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__ixNym {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  min-width: 0;
}
.texttheme_dark__ixNyMswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.linkCard__tylXm:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__tMoc9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  min-width: 0;
}
.texttheme_dark__tMoc9SwWww {
  color: var(--token-WcqAzrLgrO6X);
}
.link__fxHBm {
  position: relative;
  display: none;
}
.card__sluYh:global(.__wab_instance) {
  max-width: 100%;
  width: 250px;
  flex-shrink: 0;
  display: none;
}
.freeBox__mfEow {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__rhKyh {
  font-size: 24px;
  padding-bottom: 0px;
}
.text___0I7Ir {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.freeBox__pZXeC {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__pZXeC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pZXeC > :global(.__wab_flex-container) > *,
.freeBox__pZXeC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pZXeC > :global(.__wab_flex-container) > picture > img,
.freeBox__pZXeC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.card__mzitY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 250px;
  display: none;
}
.freeBox__qetWv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__inKk7 {
  font-size: 24px;
}
.text__c1CvI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__nqous {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__nqous > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nqous > :global(.__wab_flex-container) > *,
.freeBox__nqous > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nqous > :global(.__wab_flex-container) > picture > img,
.freeBox__nqous
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.button__wPjSi:global(.__wab_instance) {
  max-width: 100%;
}
.svg___4Llue {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rwUA {
  color: var(--token-WcqAzrLgrO6X);
}
.texttheme_dark__rwUAswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.svg__haXdq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.card___5Vrg5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 250px;
  min-width: 250px;
  display: none;
}
.freeBox__xxXLa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ohDbE {
  font-size: 24px;
}
.text__wsz2Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.freeBox__niS9G {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__niS9G > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__niS9G > :global(.__wab_flex-container) > *,
.freeBox__niS9G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__niS9G > :global(.__wab_flex-container) > picture > img,
.freeBox__niS9G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.button___9UuUe:global(.__wab_instance) {
  max-width: 100%;
}
.svg__viUxk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vwRNb {
  color: var(--token-WcqAzrLgrO6X);
}
.texttheme_dark__vwRNbswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.svg___5MaVf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__f4YhD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 150px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.card__mcj7Y:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 180px;
  min-width: 0;
}
.freeBox__yLyNm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.iframe:global(.__wab_instance) {
  width: 600px;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 0;
  border-width: 0px;
}
.section {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px 0 32px;
  margin: 0px;
}
.section > * {
  grid-column: 4;
}
.sectiontheme_dark > * {
  grid-column: 4;
}
.freeBox__dg7Tp {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__dg7Tp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dg7Tp > :global(.__wab_flex-container) > *,
.freeBox__dg7Tp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dg7Tp > :global(.__wab_flex-container) > picture > img,
.freeBox__dg7Tp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
.link___1YCh {
  position: relative;
  display: flex;
}
.card__cwdaj:global(.__wab_instance) {
  max-width: 100%;
  width: 250px;
  flex-shrink: 0;
}
.freeBox___6VEbK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___4UUcy {
  font-size: 24px;
  padding-bottom: 0px;
}
.text__ekYl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.freeBox__zLn7 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__zLn7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zLn7 > :global(.__wab_flex-container) > *,
.freeBox__zLn7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zLn7 > :global(.__wab_flex-container) > picture > img,
.freeBox__zLn7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.card__yCEkJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 250px;
  flex-shrink: 0;
}
.freeBox__e3Pt2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__zRk46 {
  font-size: 24px;
}
.text__nrXug {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__ecye {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__ecye > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ecye > :global(.__wab_flex-container) > *,
.freeBox__ecye > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ecye > :global(.__wab_flex-container) > picture > img,
.freeBox__ecye
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.button__rzQmz:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rV6Gm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__l9YD7 {
  color: var(--token-WcqAzrLgrO6X);
}
.texttheme_dark__l9YD7SwWww {
  color: var(--token-WcqAzrLgrO6X);
}
.svg__r4Dp6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.card__jGFe2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 250px;
  min-width: 250px;
  flex-shrink: 0;
}
.freeBox__dOaIu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__uAMoG {
  font-size: 24px;
}
.text__b5Upp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.freeBox__etzxe {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__etzxe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__etzxe > :global(.__wab_flex-container) > *,
.freeBox__etzxe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__etzxe > :global(.__wab_flex-container) > picture > img,
.freeBox__etzxe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.button___4Zemi:global(.__wab_instance) {
  max-width: 100%;
}
.svg__c3Ykn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mSkLw {
  color: var(--token-WcqAzrLgrO6X);
}
.texttheme_dark__mSkLWswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.svg__pOcxU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___7Jr6O {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox___7Jr6O > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___7Jr6O > :global(.__wab_flex-container) > *,
.freeBox___7Jr6O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Jr6O > :global(.__wab_flex-container) > picture > img,
.freeBox___7Jr6O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.card__yrkRl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__kCpwj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___3Inzx {
  font-size: 24px;
  padding-bottom: 0px;
  font-weight: 700;
}
.text__hXMvI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.freeBox___8Gwy7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___8Gwy7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___8Gwy7 > :global(.__wab_flex-container) > *,
.freeBox___8Gwy7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Gwy7 > :global(.__wab_flex-container) > picture > img,
.freeBox___8Gwy7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.button__yWcRg:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vlH {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__g6Dmm {
  color: var(--token-WcqAzrLgrO6X);
}
.texttheme_dark__g6DmmswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.svg___5F9I0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__h5STz {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__h5STz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__h5STz > :global(.__wab_flex-container) > *,
.freeBox__h5STz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h5STz > :global(.__wab_flex-container) > picture > img,
.freeBox__h5STz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
.card__mZm0D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 250px;
  flex-shrink: 0;
}
.freeBox___7Vint {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__acfxx {
  font-size: 24px;
  padding-bottom: 0px;
}
.text__zR9C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.freeBox__jAexh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__jAexh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jAexh > :global(.__wab_flex-container) > *,
.freeBox__jAexh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jAexh > :global(.__wab_flex-container) > picture > img,
.freeBox__jAexh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.button__oAygx:global(.__wab_instance) {
  max-width: 100%;
}
.svg__buB60 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yf3Vl {
  color: var(--token-WcqAzrLgrO6X);
}
.texttheme_dark__yf3VLswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.svg__jmjY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.card__ll5S8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 250px;
  flex-shrink: 0;
}
.freeBox___1C9T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__kiP {
  font-size: 24px;
}
.text__zgQTr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__auYN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__auYN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__auYN > :global(.__wab_flex-container) > *,
.freeBox__auYN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__auYN > :global(.__wab_flex-container) > picture > img,
.freeBox__auYN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.button__v5Nh4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__v0Zbq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cqZ8G {
  color: var(--token-WcqAzrLgrO6X);
}
.texttheme_dark__cqZ8GswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.svg__n4Ig9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.card__rpBx6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 250px;
  min-width: 250px;
  flex-shrink: 0;
}
.freeBox__tO5Gs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__vkO24 {
  font-size: 24px;
}
.text__cTf5T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.freeBox__gKpAk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gKpAk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__gKpAk > :global(.__wab_flex-container) > *,
.freeBox__gKpAk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gKpAk > :global(.__wab_flex-container) > picture > img,
.freeBox__gKpAk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.button__lcYn7:global(.__wab_instance) {
  max-width: 100%;
}
.svg___2LGyA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fW91Y {
  color: var(--token-WcqAzrLgrO6X);
}
.texttheme_dark__fW91YswWww {
  color: var(--token-WcqAzrLgrO6X);
}
.svg__an699 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xUvIo {
    display: block;
  }
}
