services:
  oso_subgraph_oso_clickhouse:
    build:
      context: .
      dockerfile_inline: |-
        FROM ghcr.io/hasura/ndc-clickhouse:v0.2.9
        COPY ./ /etc/connector
    develop:
      watch:
        - path: ./
          action: sync+restart
          target: /etc/connector
    env_file:
      - .env.local
    extra_hosts:
      - local.hasura.dev=host-gateway
    ports:
      - mode: ingress
        target: 8080
        published: "8084"
        protocol: tcp
