name: Supabase DB Migration
permissions:
  contents: read

# We need to match both pull_request and merge_group events to ensure that
# we stop broken migrations from being merged into main. This ensures that
# we can add this workflow as a required check. Without the pull_request event,
# we, oddly, would not be able to add this as a required check on and the 
# merge_group.
on:
  pull_request:
    branches:
      - main
  merge_group:
    branches:
      - main 

jobs:
  migrate-db:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "pnpm"

      - name: Push Supabase migrations
        working-directory: apps/frontend
        run: |
          pnpm supabase db push --db-url $SUPABASE_DB_URL
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
          SUPABASE_DB_URL: ${{ secrets.SUPABASE_PRODUCTION_DB_URL }}
