name: PR Sync

on:
  workflow_dispatch:

jobs:
  run_pysync:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install gitpython PyGithub

    - name: Run pysync.py
      run: |
        python pysync.py
